@use "reset";
@use "variables";

main {
  margin: auto;
}

.attribution {
  font-size: 0.85rem;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}

.container {
  height: 100vh;
  padding: 0 8rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
